<div class="container note-cover p-3 px-4 shadow-lg m-3 mx-auto rounded-4 overflow-x-hidden">
    <div
        class="row h-100 justify-content-center rounded-3 align-items-center position-relative notebook overflow-hidden">
        <div class="col-6 note-end h-100 p-4 left-page position-relative">
            <h4>My diary</h4>
            <div class="lines border-0 border-bottom border-2 border-dark"></div>
            <div class="d-flex flex-column mt-3">
                <ng-content *ngFor="let item of [].constructor(15)">
                    <div class="lines border-0 border-bottom border-2 border-dark my-3">
                    </div>
                </ng-content>
            </div>
            <div class="card p-2 shadow-sm position-absolute photo z-1 m-2 pick" style="width: 14rem;">
                <img src="images/spidy.jpg" alt="sample" class="card-img-top" />
                <div class="card-body bg-light">
                    <h6 class="card-title">Watched "Spiderman - home coming"</h6>
                    <p class="card-text">Kamala Cineplex</p>
                </div>
            </div>
            <div class="card p-2 shadow-sm position-absolute photo-1 z-1 m-2 pick" style="width: 16rem;">
                <img src="images/milesandher.png" alt="sample" class="card-img-top" />
                <div class="card-body bg-light">
                    <h6 class="card-title">Me and her❤️</h6>
                </div>
            </div>
        </div>
        <div class="col-6 shadow-sm border-end h-100 p-4 right-page d-flex flex-column">
            <p class="fw-medium text-end">09/08/2025</p>
            <div class="mt-auto float-bottom">
                <p class="text-end mb-0">Page: 1</p>
            </div>
        </div>
        <div class="position-absolute h-100">
            <div class="d-flex flex-column justify-content-between align-items-center mt-3 h-100 py-3">
                <ng-content *ngFor="let item of [].constructor(10)">
                    <div class="ring">
                        <div class="box position-absolute"></div>
                        <div class="box right position-absolute"></div>
                    </div>
                </ng-content>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container note-cover p-3 px-4 shadow-lg m-3 mx-auto rounded-4 overflow-x-hidden">
    <div class="row h-100 justify-content-center rounded-3 align-items-center position-relative overflow-hidden">
        <div class="col-6 ms-auto note-end h-100 p-4 right-page notebook">
            <h1 class="fw-medium m-auto">My diary</h1>
        </div>
    </div>
</div> -->