
html{
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: cursive;
    color: #373737;
}
.cursor-pointer {
    cursor: pointer !important;
}

.w-fit {
    width: fit-content !important;
}